@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@property --font-outfit {
  syntax: "<string>";
  inherits: true;
  initial-value: "Outfit", sans-serif;
}

@property --font-playfair {
  syntax: "<string>";
  inherits: true;
  initial-value: "Playfair Display", serif;
}

@property --font-baskerville {
  syntax: "<string>";
  inherits: true;
  initial-value: "Baskerville", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
